
.blank{
    margin-top: 40px;
}

.sidebar-main{
    margin-top: 55px;
    
    h4{
        font-size: 17px;
        color: #333333;
        margin-bottom: 25px;
    }
    
    .sidebar-search-container{
        position: relative;
        
        input{
            width: 90%;
            border: none;
            border: 1px solid rgb(236, 231, 221);
            height: 45px;
            padding: 6px 13px;
            outline: none;
            font-size: 14px;
        }
        button{
            position: absolute;
            right: 32px;
            border:none;
            outline: none;
            width: 45px;
            height: 36px;
            text-align: center;
            margin-top: 5px;
            background-color: transparent;
            border-left: 1px solid rosybrown;
            
            &:hover{
                color: rgb(23, 189, 17);
            }
        }
    }
}

.sidebar-tag-item{
    .item{
        position: relative;
        
        p{
          margin-left:18%;
        }
    }
    
    .checkbox{
        position: absolute;
        bottom: 1px;
        background-color: white;
        border: none;
        outline: none;
        width: 22px;
        height: 22px;
        border: 1px solid rgb(243, 234, 228);
        display: inline-block;
        
        &:hover{
            background-color: red;
        }
        &:focus{
            background-color: red;
        }
        
    }
    .item:hover .checkbox{
        background-color: red;
    }
}

